@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
/* nav bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(247, 241, 241);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.7rem 0.7rem;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}


/* Header */
.header {
    padding: 15.625rem;
    text-align: center;
    color: black;
    font-size: 3.125rem;
    font-weight: bold;
  }


/* Sesion one */
.column_one {
    float: right;
    width: 60%;
    padding: 0.625rem;
}

.column_one h2 {
    color: black;
    font-size: 1.875rem;
    font-weight: bold;
}

.column_one h2 {
    color: black;
    font-size: 1.9rem;
    font-weight: bold;
}

.column_two {
    float: left;
    width: 40%;
    padding: 0.6rem;
}

.column_two h1 {
    color: black;
    font-size: 1.9rem;
    font-weight: bold;
}

.column_two div {
    background-color: rgb(201, 201, 201);
    border-radius: 0.5rem;
    margin-right: 15vh;
    margin-left: 15vh;
    padding: 5vh


}

.section_one:after {
    content: "";
    display: table;
    clear: both;
}



/* Section Two */
.section_two {
    margin: 20vh
}

.section_two div {
    padding: 10vh;
    background-color: rgb(201, 201, 201); 
    border-radius: 1rem;
}

.button {
    background-color: #8c8c8c; 
    border: none;
    color: black;
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 0.438rem;
}



/* update font : Robuto
enlever background color
rm au lieu de px */